alabaster==0.7.12
aniso8601==4.0.1
arrow==0.12.1
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
DateTime==4.3
docutils==0.14
Flask==1.0.2
Flask-Cors==3.0.7
Flask-JWT-Extended==3.13.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
idna==2.7
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
marshmallow==3.0.0b13
marshmallow-sqlalchemy==0.15.0
more-itertools==4.3.0
packaging==18.0
passlib==1.7.1
pathlib2==2.3.2
pluggy==0.8.0
py==1.7.0
Pygments==2.2.0
PyJWT==1.6.4
pyparsing==2.3.0
pytest==3.10.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.20.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.13
urllib3==1.24.1
webargs==4.1.2
Werkzeug==0.14.1
zope.interface==4.6.0
